.main-nav-div{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    
}
.main-nav{
    height: 70px;
}

.search-box{
    position: relative;
}
.search-input{
    position: relative;
    opacity: 0;
    padding: 5px;
    pointer-events: none;
}
.search-input input{
    padding: 5px;
    border: none;
    border-radius:5px 0  0 5px;
}
.search-input input:focus{
    outline: none;
    
}
.search-upper-text{
    position: absolute;
    top: 0;
    text-transform: capitalize;
    border: 1px solid gray;
    padding: 5px;
    margin: 0;
    cursor: pointer;
}
.showinput{
    opacity: 1;
    transition: 0.3s ease;
    pointer-events: all;
}
.op-zero{
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}
.searchbtn {
    background: #dcebfa;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}


/* footer  */
.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.footer-content{
    padding: 30px 0;
}
.copywrite{
    padding: 20px;
    background-color: rgb(63, 63, 63) !important;
}
